form {
    width: 50vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

input, textarea {
    font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    padding: 1em;
    border: none;
    border-bottom: 1px solid gray;
}

input:focus, textarea:focus {
    outline: none;
    border-bottom: 2px solid black;
}

.form-row {
    display: flex;
    flex-direction: row;
}

.form-row input, .form-row textarea, .form-row label {
    flex: 1 1 auto;
    margin: 10px;
}

input[type="file"] {
    display: none;
}

.default-btn {
    margin-right: 0;
    margin-left: auto;
}

.label-input-file {
    font-size: 1em;
    padding: 1em;
    border: none;
    border-bottom: 1px solid gray;
    cursor: pointer;
    color: #757575;
}

.label-input-file:focus {
    outline: none;
    border-bottom: 2px solid black;
}

#song-image-preview {
    width: 200px;
    height: 200;
    overflow: hidden;
    border-radius: 50%;
    display: block;
}

#song-image-preview img {
    max-width: 100%;
    clip-path: circle(200px at center);
    display: block;
}


@media only screen and (max-width: 678px) {
    form {
        width: 90vw;
    }

    .form-row {
        flex-direction: column;
        margin-top: 0;
    }

    .default-btn {
        margin: 0 auto!important;
    }
}

@media only screen and (max-width: 1024px) {
    form {
        width: 70vw;
    }
}